*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: ubuntu, sans-serif;
    background-color: #FFE6E6;
    color: #FF4D4D;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

a:hover, button:hover {
    cursor: pointer;
}

.header {
    padding: 25px 100px;
    display: flex;
    align-items: center;
    gap: 200px;
}

.header-logo {
    font-size: 2.8rem;
    font-weight: 600;
    color: #262626;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 100px;
}

.nav-link button {
    background-color: inherit;
    border: 0;
    border-bottom: 3px solid transparent;
    padding: 0 10px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #262626;
}

.nav-link button:hover {
    border-bottom: 3px solid #FF4D4D;
    transition: all 200ms ease-in;
}